<%#= form_for(@books, url: search_books_path, html: { method: :get, class: 'form-horizontal', role: 'form' }) do |f| %>
  <%#= f.text_field :book_name, class: 'form-control' %>
  <%#= f.text_field :author, class: 'form-control' %>
<%# end %>


<% content_for(:title) do %>
  図書検索
<% end %>

<%= search_form_for(@book, url: search_books_path, html: { method: :get, class: 'form-horizontal', role: 'form' }) do |f| %>
  <%= render 'search_form', f: f %>
<% end %>

<div id="a-box">

<%= render layout: 'shared/search_result_box' do %>
  <table class="table table-list ">
  <thead>
    <tr>
      <th>図書名</th>
      <th>著者名</th>
      <th>予約</th>
    </tr>
  </thead>
  <% @books.each do |book| %>
  <tbody>
  <tr>
    <td><%= book.book_name %></td>
    <td><%= book.author %></td>
    <td>
         <%#= link_to("予約", {:action => "edit_ticket"}) %>
        <%#= link_to '予約',  :controller => 'books', :action => 'edit_ticket' %>
        <%#= link_to 'Edit', edit_ticket_book_path(@book) %>
        <%#= link_to 'Edit', edit_ticket_path(@ticket) %>
        <%#= link_to 'Edit', edit_ticket_path(book) %>
        <%#= link_to '予約', new_ticket_path(params: { ticket: {user_email: current_user.email} }) %>
        <% if not current_user.blank? %>
        <%= link_to '予約受付', new_ticket_path(params: {book_id: book.id,user_id: current_user.id,user_email: current_user.email}) %>
        <% end %>
        <%#= link_to '予約', new_ticket_path(:book_id => book.id,:user_id => current_user.id,:user_email => current_user.email) %>
        <%#= user_signed_in %>
    </td>
  </tr>
  </tbody>
<% end %>
</table>
<% end %>

</div>

<div id="b-box">
<p>人気の本</p>
<table>
  <thead>
    <tr>
      <th>図書名</th>
      <th>著者名</th>
      <th>予約数</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @popularbooks.each do |popbook| %>
      <tr>
        <td><%= Book.find(popbook.book_id).book_name %></td>
        <td><%= Book.find(popbook.book_id).author %></td>
        <td><%= popbook.yoyaku_su %></td>
        <td>
            <% if not current_user.blank? %>
            <%= link_to '予約受付', new_ticket_path(params: {book_id: popbook.book_id,user_id: current_user.id,user_email: current_user.email}) %>
            <% end %>
        </td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
