<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @book.book_id %>
</p>

<p>
  <strong>Book name:</strong>
  <%= @book.book_name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Kbn1:</strong>
  <%= @book.kbn1 %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
